:root {
    --background-body: rgb(166, 176, 177);
    --white: #FFFFFF;
    --blue: #1b16b9;
    --hover-link: rgba(12, 12, 11, 0.548);
    --dark-orange: rgb(177, 64, 19);
    --black: #000;
    --dark-magenta: #920c4a;
    --gray: rgb(119, 137, 137);
    --dark-gray: #0c0c0b8c;
    --font: 'Teko', sans-serif;


}



body {
    font-family: var(--font);
    font-size: 24px;
    background: var(--white)
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;

}


.image .profile__picture {
    width: 180px;
    height: auto;
    border-radius: 50%;
    transition: 0.2s;
    margin: 1em 0;
    cursor: pointer;

}

.profile__picture:hover {
    transform: scale(1.05);
    border: solid 2px var(--dark-magenta);
    box-shadow: 0 0 10px var(--dark-magenta);
    transition: 0.2s;
}

.button {
    border-radius: 20px;
    color: var(--white);
    background-color: var(--dark-magenta);
    text-transform: uppercase;
    padding: 0.7em;

}

.button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.header__list__contacts {
    font-size: 20px;
    color: var(--dark-orange);
    list-style: none;
    margin: 0;
    padding: 0;

}

.name {
    font-size: 25px;
    color: var(--black);
}

.fa-envelope {
    color: var(--dark-magenta);
    margin: 0;
    padding: 0;
}

.fa-github {
    color: var(--white);
    background-color: var(--black);
}

.githubIcon{
    color: var(--black);
}

/* waiting links fasam and alura */

.email,
.linkedin,
.gitHub {
    margin-left: 5px;
    text-decoration: none;
}

/* waiting links fasam and alura */
.email:hover,
.linkedin:hover,
.gitHub:hover {
    color: var(--dark-gray);
}

.link__color,
a {
    color: var(--blue);

}

.endFirstPart {
    border-color: #920c4a;
    box-sizing: border-box;

}



@media screen and (max-width: 738px) {



    body {
        font-size: 28px;
        background: var(--white)
    }

    .header {
        flex-direction: column;
        margin: 0 1em;
        justify-content: space-between;
    }

    .image {
        height: 200px;
    }

    .name {
        font-size: 36px;
    }

    .button {
        margin-bottom: 2em;
    }

}